.header {
    padding: 20px 10px;
  img {
    height: 70px;
  }
  span {
    text-transform: capitalize;
    font-size: 30px;
    vertical-align: middle;
    color: #333;
    margin-left: 10px;
  }
}
